$color-white: white;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(20, 20, 20);
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer {
  display: flex;
  gap: 30px;
  justify-content: center;

  div {
    display: flex;
  }

  p {
    font-size: 50px;
    font-weight: bold;
    color: $color-white;
    text-shadow: 0px 0px 4px;
  }
}

.btns {
  display: flex;
  justify-content: center;
  gap: 30px;

  button {
    width: 150px;
    color: $color-white;
    font-size: 20px;
    border: 2px solid $color-white;
    background-color: unset;
    cursor: pointer;
    margin-top: 50px;
    transition: 0.3s;
    border-radius: 10px;
    padding: 10px 0px;

    &:hover {
      background-color: $color-white;
      color: black;
      box-shadow: 0px 0px 10px $color-white;
    }
  }
}
