* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

.main {
  background-image: linear-gradient(
    110.3deg,
    rgba(73, 93, 109, 1) 4.3%,
    rgba(49, 55, 82, 1) 96.7%
  );
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.todo-list-container {
  background-color: white;
  border-radius: 10px;
  width: 25vw;
  height: 500px;
  padding: 0px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.project-name {
  font-size: 35px;
  font-weight: bold;
}

.text-box {
  width: 280px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: 2px solid green;
  font-size: 20px;
}

.add-btn {
  padding: 6px 8px 6px 8px;
  font-size: 16px;
  border: 2px solid green;
  color: green;
  transition: 0.3s;
}
.add-btn:hover:not:disabled {
  background-color: green;
  color: white;
}

.add-btn:disabled{
  border-color: rgb(79, 133, 74);
  color: rgb(79, 133, 74);
}

.items {
  list-style-type: none;
  font-size: 23px;
  margin-top: 10px;
}

.items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid cyan;
  gap: 10px;
  margin: auto;
  margin-top: 10px;
  padding: 5px 20px;
}

input[type="checkbox"]{
  width: 16px;
  height: 16px;
}

.items li p {
  margin: 0;
}

.fa-trash-can {
  font-size: 18px;
  color: rgb(255, 51, 51);
  cursor: pointer;
}

.complete p{
  text-decoration: line-through;
}

.change-item {
  outline: none;
  width: 210px;
}

@media screen and (max-width: 600px){

  .todo-list-container {
    width: 90vw;
  }

}