* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

html {
  background-image: linear-gradient(
    83.2deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  background-repeat: no-repeat;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-heading {
  font-size: 35px;
  color: black;
  text-align: center;
  margin: 40px 0px 20px 0px;
}

.form-inner {
  width: 280px;
  color: black;
  line-height: 38px;
  border-radius: 10px;
  padding: 0px 30px 0px 30px;
  background-color: white;
  box-shadow: 0px 0px 20px rgb(39, 39, 39);
}

a {
  text-decoration: none;
  font-size: 14px;
}

.details {
  height: 35px;
  width: 100%;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  background-color: unset;
  box-shadow: 0px 0px 5px rgb(160, 160, 160);
}

.last-section {
  text-align: center;
  line-height: 50px;
}

.last-section #submit-btn {
  width: 150px;
  height: 40px;
  padding: 10px;
  background-color: tomato;
  border: none;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 0px 10px red;
  cursor: pointer;
}
